<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two|Slabo+27px' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
	<div class="footer">
		<div class="row">
			<div class="col-md-5">
				<ul class="footer-text">
					<li>This app uses ajax/Web API to perform CRUD operations on list items</li>
					<li>jQuery ajax calls on the front-end</li>
					<li>Web API on the back-end</li>
					<li>built using Ruby On Rails framework</li>
				</ul>
			</div>
			<div class="col-md-5">	
			</div>
			<div class="col-md-2 pull-right">
				<div class="bottom-righ">
					<a hreff="http://yassih.com">YassiH.com</a> | 
					<a hreff="https://www.linkedin.com/in/yassih">LinkedIn</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
